*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#reg-form
{
    display: flex;
    justify-content: center;
}
#heading
{
    background-color: rgb(19, 32, 6);
    font-size: 60px;
    text-align: center;
    border: 10px solid rgba(49, 28, 28, 0.096);
}
table
{
    background-color: chartreuse;
    font-size: 40px;
    border: 10px solid rgb(0, 26, 255);
}
